@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.provider__bio {
  @include body-3($neutral-7);
  margin-top: 12px;
  margin-bottom: 16px;

  &.truncated {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

.read-more {
  @include label-4($secondary-5);
}
