@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.provider-detail__item {
  display: flex;
  padding-bottom: 16px;

  img {
    width: 48px;
    height: 48px;
  }

  &--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
  }

  &--label {
    @include input-text-1($neutral-7);
  }

  &--data {
    @include label-3($neutral-8);
  }
}
