@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.providers__item {
  width: 598px;
  height: 167px;
  background: $neutral-0;
  margin: 6px auto;
  padding: 16px;

  a {
    text-decoration: none;
    outline: none;
  }

  &:hover {
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
  }

  &--profile {
    align-items: center;
    display: flex;
    align-content: center;
  }

  &--header {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
  }

  &--name {
    @include label-5($neutral-9);

    // Truncate longer titles
    max-width: 275px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--title {
    @include input-text-1($neutral-7);
    margin: 0;
    margin-top: 6px;
  }

  &--bio {
    @include body-3($neutral-7);
    height: 40px;
    margin-top: 10px;
    margin-bottom: 12px;

    // Truncate longer bios
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
