/*******
* TYPOGRAPHY
*******/

/* Sub-Heading */
@mixin sub-heading-1($color) {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.005em;
  color: $color;
}

@mixin sub-heading-3($color) {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: $color;
}

/* Body */
@mixin body-3($color) {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.005em;
  color: $color;
}

/* Button */
@mixin button-4($color) {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: $color;
}

/* Label */
@mixin label-3($color) {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: $color;
}

@mixin label-4($color) {
  font-weight: 500;
  font-size: 14.8px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: $color;
}

@mixin label-5($color) {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: $color;
}

/* Input Text */
@mixin input-text-1($color) {
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: $color;
}

@mixin input-text-2($color) {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: $color;
}

@mixin input-text-3($color) {
  font-style: normal;
  font-weight: 400;
  font-size: 14.8px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: $color;
}

/* Badge */
@mixin badge-2($color) {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: $color;
}
