$font-family: 'Helvetica Neue', sans-serif;

/* Sub-Heading */
.sub-heading-1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.005em;
}

.sub-heading-3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

/* Body */
.body-3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.005em;
}

/* Button */
.button-4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.02em;
}

/* Label */
.label-3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

.label-4 {
  font-weight: 500;
  font-size: 14.8px;
  line-height: 120%;
  letter-spacing: 0.005em;
}

.label-5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.005em;
}

/* Input Text */
.input-text-1 {
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.input-text-2 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.input-text-3 {
  font-style: normal;
  font-weight: 400;
  font-size: 14.8px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

/* Badge */
.badge-2 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 110%;
  letter-spacing: 0.02em;
}
