/*******
* FONTS
*******/

$font-family: 'Helvetica Neue', sans-serif;

/*******
* COLORS
*******/

/* Neutrals */
$neutral-0: #ffffff;
$neutral-1: #fafafa;
$neutral-2: #f6f7f7;
$neutral-3: #eeeeee;
$neutral-4: #dfe1e6;
$neutral-5: #c6c9cf;
$neutral-6: #a9aeb7;
$neutral-7: #6e7178;
$neutral-8: #3f4145;
$neutral-9: #1c1e24;

/* Primary */
$primary-1: #f6f4f7;
$primary-2: #edeaf0;
$primary-3: #dbd4e2;
$primary-4: #c9bfd3;
$primary-5: #4b286d;

/* Secondary */
$secondary-1: #f7f8fe;
$secondary-2: #eff1fe;
$secondary-3: #e0e4fc;
$secondary-4: #d0d6fb;
$secondary-5: #6277f0;

/* State */
$state-blue: #1970e6;
$state-red: #d83e31;
$state-yellow: #f7ae3b;
$state-green: #28b058;

/* THVC */
$thvc-purple-5: #4b286d;
