@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import 'styles/reset.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family;
  font-style: normal;
  background-color: $neutral-4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
