@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 200px;
  background-color: transparent;

  &.availability {
    border: none;
    padding: 6px 12px;
    background: $secondary-2;
  }

  span {
    @include badge-2($neutral-8);
  }
}
