@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 69px;
  height: 37px;

  padding: 10px 16px 10px 14px;

  border: 1px solid $neutral-3;
  border-radius: 94px;
  background-color: transparent;
  background: $neutral-0;

  @include label-3($neutral-8);

  cursor: pointer;
}
